<%- include ("partials/Althead"); -%>
    <div class="schedulecontainer">
        <div class="scheduleheader">
            <h1>Scheduled Workshops</h1>
        </div>
        <div class="schedulebox">
            <img src="/image/photography.jpeg" alt="Description of image">
            <div class="schedulecontent">
                <h2>Capture the Magic: Photography Workshop</h2>
                <p>Join us for an immersive photography workshop that will take your skills to the next level. Whether you're a beginner or an experienced photographer looking to refine your craft, this workshop is designed to inspire and empower you to create stunning images.</p>
                <p>We are on everyday from 9am to 6pm</p>
                <h3>Current Number of Bookings: <%= PhotographyWorkshop %></h3>
            </div>
        </div>
        <div class="schedulebox">
            <img src="/image/coding.jpg" alt="Description of image"> 
            <div class="schedulecontent">
                <h2>CodeCrafters: Coding Workshop</h2>
                <p>Are you ready to embark on an exciting journey into the world of coding? Join us for an immersive coding workshop that will demystify the art of programming and empower you to create software and web applications from scratch.</p>
                <p>We are on everyday from 9am to 6pm</p>
                <h3>Current Number of Bookings: <%= CodingWorkshop %></h3>
            </div>
        </div>
        <div class="schedulebox">
            <img src="/image/cooking.jpeg" alt="Description of image"> 
            <div class="schedulecontent">
                <h2>Culinary Delights: Cooking Workshop</h2>
                <p>Are you passionate about food and eager to sharpen your culinary skills? Join us for a delectable cooking workshop that will take you on a gastronomic journey, from the basics to gourmet delights.</p>
                <p>We are on everyday from 9am to 6pm</p>
                <h3>Current Number of Bookings: <%= CookingWorkshop %></h3>
            </div>
        </div>
    </div>
<%- include ("partials/foot"); -%>